@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Display */
.display-lg {
    font-size: 52px;
    line-height: 56px;
    letter-spacing: -2%;
}

.display-sm {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -2%;
}

/* Headings */
.heading-1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
}
.heading-2 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
}
.heading-3 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -2%;
}
.heading-4 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -2%;
}
.heading-5 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
}

/* Paragraphs */
.p-lg {
    font-size: 18px;
    line-height: 28px;
}
.p-md {
    font-size: 16px;
    line-height: 24px;
}
.p-sm {
    font-size: 14px;
    line-height: 20px;
}
.p-xs {
    font-size: 12px;
    line-height: 20px;
}

/* Labels */
.label-lg {
    font-size: 16px;
    line-height: 18px;
}
.label-md {
    font-size: 14px;
    line-height: 16px;
}
.label-sm {
    font-size: 12px;
    line-height: 16px;
}
.label-xs {
    font-size: 10px;
    line-height: 14px;
}
