@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Headings */
    /* Apply main font to all headings with letter-spacing */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-mainfont;
        letter-spacing: -2%;
    }

    /* Apply main font to labels without letter-spacing */
    .label-1,
    .label-2,
    .label-3,
    .label-4,
    .label-5 {
        @apply font-mainfont;
    }

    /* Small Screens */
    h1 {
        font-size: 36px;
        line-height: 44px;
    }
    h2 {
        font-size: 32px;
        line-height: 40px;
    }
    h3 {
        font-size: 28px;
        line-height: 36px;
    }
    h4 {
        font-size: 24px;
        line-height: 32px;
    }
    h5 {
        font-size: 20px;
        line-height: 28px;
    }
    h6 {
        font-size: 18px;
        line-height: 24px;
    }

    /* Paragraph */
    p {
        @apply: font-subfont;
        font-size: 15px;
        line-height: 23px;
    }

    /* Big Screens */
    @screen lg {
        /* Headings */
        h1 {
            font-size: 40px;
            line-height: 48px;
        }
        h2 {
            font-size: 36px;
            line-height: 44px;
        }
        h3 {
            font-size: 32px;
            line-height: 40px;
        }
        h4 {
            font-size: 28px;
            line-height: 36px;
        }
        h5 {
            font-size: 24px;
            line-height: 32px;
        }
        h6 {
            font-size: 20px;
            line-height: 28px;
        }

        /* Paragraph */
        p {
            font-size: 18px;
            line-height: 28px;
        }
    }

    /* Labels */
    .label-1 {
        font-size: 18px;
        line-height: 22px;
    }
    .label-2 {
        font-size: 16px;
        line-height: 18px;
    }
    .label-3 {
        font-size: 14px;
        line-height: 16px;
    }
    .label-4 {
        font-size: 12px;
        line-height: 14px;
    }
    .label-5 {
        font-size: 10px;
        line-height: 14px;
    }
    .min-h-screen-navbar {
        min-height: calc(100vh - 60px);
    }
    .custom-shadow {
        box-shadow:
            0px 4px 6px 0px rgba(33, 37, 41, 0.2),
            0px 0px 1px 0px rgba(33, 37, 41, 0.32);
    }
}

/* Container */
/* For Small Screens */
.container {
    @apply max-w-[92%];
}

/* Applies from 768px and up */
@screen md {
    .container {
        @apply max-w-[90%];
    }
}

/* Applies from 1024px and up */
@screen lg {
    .container {
        @apply max-w-[80%];
    }
}

/* Applies from 1440px and up */
@screen xl {
    .container {
        @apply max-w-[1216px];
    }
}
